name: test

on: [push, pull_request]

jobs:
  unit_tests:
    strategy:
      matrix:
        go-version: [1.24.x, 1.23.x, 1.22.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: go build

      - name: Test
        run: |
          go test -v ./... 
          go test -v ./... -race

  fuzz:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x]
        os: [ubuntu-latest]
        target: [
          FuzzProveVerifySecp256k1,
          FuzzProveVerifyP256,
          FuzzDecodeProofSecp256k1,
          FuzzDecodeProofP256,
          FuzzHashToCurveTryAndIncrementSecp256k1,
          FuzzHashToCurveTryAndIncrementP256,
          FuzzProveVerifyRandomKeysSecp256k1,
          FuzzProveVerifyRandomKeysP256,
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fuzz (60s)
        run: |
          go test -run=^$ -fuzz=^${{ matrix.target }}$ -fuzztime=60s ./...
